

.add-btn {
    cursor: pointer;
    background: 0 0;
    border: 0;
    color: #9d9d9d;
    opacity: .65;
}

.add-btn:hover {
    color: #fafafa;
}


.sticky-top {
    position:   fixed;
    top:        0;
    width: 100%;
    z-index: 1;
}

.fix-sticky {
    height: 2.5rem;
}

